
    @media only screen and (max-width: 600px) {
    body{
        /* background-image: url("images/image5.png");
        background-repeat: no-repeat;
        background-size: cover; */
    }
    .main-txt{
        
        position: relative;
        text-align: center;
        margin-top: 20px;
        /* border: 1px solid salmon; */
        
    }
    .main-txt h1{
        font-family: 'Poppins', sans-serif;
        color:#303030 ;
        letter-spacing: -1px;
        font-size: 35px;
    
    }
    .main-txt p{
        font-family: 'Open Sans', sans-serif;
        color:#303030 ;
        letter-spacing: -1px;
        font-size: 16px;
    
    }
    .center {
        position: absolute;
        top: 0%;
        left: -3%;
        /* transform: translate(-50%, -50%); */
      }
    
}
    @media only screen and (max-width: 470px) {
    body{
        /* background-image: url("images/image5.png");
        background-repeat: no-repeat;
        background-size: cover; */
    }
    .main-txt{
        
        position: relative;
        left: 10px;
        top: 0px;
        /* border: 1px solid salmon; */
        
    }
    .main-txt h1{
        font-family: 'Poppins', sans-serif;
        color:#303030 ;
        letter-spacing: -1px;
        font-size: 30px;
    
    }
    .main-txt p{
        font-family: 'Open Sans', sans-serif;
        color:#303030 ;
        letter-spacing: -1px;
        font-size: 14px;
    
    }
  }

  @media only screen and (max-width: 400px) {
    
    .center h1{
        font-size: 25px;
    }
    .center p{
        font-size: 11px;
    }
}
@media only screen and (max-width: 330px) {
    .main-txt {
        margin-bottom: 0px;
        position: relative;
        top: -10px;
    }
    .main-txt1 h1{
        font-size: 20px;
    }
}
